* {
    font-family: Georgia, 'Times New Roman', serif;
}

h1, h2 {
    text-align: center;
}


body {
    background-color: #eee;
}

a {
    padding: 2px 5px;
    text-decoration: none;
    font-weight: bold;
    color: #08c;
}

a:hover {
    color: #fff;
    background-color: #08c;
    border-radius: 3px;
}

pre {
    font-family: Monaco;
    font-size: 14px;
    padding: 20px;
}

table,
pre,
section.content {
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 2px #888;
    background: white;
}

table,
pre {
    margin: 12px auto;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #f6f6f6;
}

td {
    padding: 6px 24px;
    font-size: 18px;
}        

li {
    list-style-type:square;
}

body > div {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

header {
    padding: 5px;
    background: #fff;
    text-align: center;
    margin: 10px 0;
}

body > div > section {
    display: -webkit-flex-box;
    -webkit-box-flex: 1;
    margin: 10px;
}