
body > div {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

header {
    padding: 5px;
    background: #fff;
    text-align: center;
    margin: 10px 0;
}

div > section {
    display: -webkit-flex-box;
    -webkit-box-flex: 1;
    margin: 10px;
}

div > section pre {
    font-family: Monaco;
    font-size: 14px;
    background: #fff;
    padding: 20px;
}

div > section li,
div > section a {
    font-size: 20px;
}

div > section li {
    margin: 5px 0;
}

div > section ul > li::after,
div > section a::before,
div > section a::after {
    display: inline-block;
    font-size: 18px;
    margin: 0 5px;
    color: #333;
    text-transform: none;
    font-weight: normal;
}

/**/
.styles #nth-child section ul :nth-child(odd)::after {
    color: blue;
    content: "odd";
}

.styles #nth-child section ul :first-child::after {
    color: green;
    content: "first";
}

.styles #nth-child section ul :last-child::after {
    color: red;
    content: "last";
}

.styles #nth-child section ul :not(:first-child):not(:last-child):nth-child(even)::after {
    content: "even, not first, not last" !important;
}

/**/
.styles #attribute-matching section a[href]::after {
    content: 'href ="' attr(href) '"';
}

.styles #attribute-matching section a[onclick]::after {
    content: 'onclick="' attr(onclick) '"';
}

.styles #attribute-matching section a:not([href]) {
    color: red;
}

.styles #attribute-matching section a[href^="#"] {
    color: green;
}

.styles #attribute-matching section a[href*="#"]::before {
    content: "Has hash";
}

.styles #attribute-matching section a[href^="#"]::before {
    content: "Hash only";
}

.styles #attribute-matching section a[href*="://"] {
    text-decoration: line-through;
    pointer-events: none;
}

.styles #attribute-matching section a[href*="//html5."] {
    color: blue;
}

.styles #attribute-matching section a[onclick][href]:after {
    content: "Has both onclick and href";
}
